.add-file {
   width: 100%;
   display: none;

   @media (max-width: 650px) {
      margin-bottom: 4px;
   }

   &__content {
      width: 100%;
      height: 56px;
      margin-bottom: 10px;
      padding: 0 10px 0 24px;
      border-radius: 12px;
      background: #FAF8F6;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;

      @media (max-width: 650px) {
         margin: 0 0 15px 0;
      }
   }

   &__info {
      margin-right: 15px;
      color: rgb(0, 0, 0, 0.3);
      font-size: 18px;
      overflow: hidden;
      line-height: normal;

      span {
         &:first-child {
            @media (max-width: 650px) {
               display: none;
            }
         }

         &:last-child {
            @media (min-width: 651px) {
               display: none;
            }
         }
      }
   }

   label {
      width: 104px;
      height: 36px;
      display: flex !important;
      justify-content: center;
      align-items: center;
      //padding: 12px 30.5px;
      border-radius: 12px;
      margin-bottom: 4px;
      background: #FF7D4E;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: 700;
   }

   input {
      opacity: 0;
      width: 0 !important;
      height: 0 !important;
   }
}

.error {
   span {
      color: rgb(0, 0, 0, 0.3);
      font-size: 13px;

      @media (min-width: 651px) {
         display: none;
      }
   }
}

.active {
   display: block;
}