.profile-menu {
   width: 100%;

   &__list {
      width: 100%;

   }

   &__item {
      font-family: Effra;
      font-size: 22px;
      font-weight: 400;

      &:not(:last-child) {
         margin-bottom: 48px;
      }

      .item__sign-out {
         color: #D32D2C;
      }

      &:first-child {
         margin-top: 13px;
      }


      &--active {
         font-weight: 700;
      }

      &:hover {
         font-weight: 700;
      }
   }
}

.item__sign-out {
   color: #D32D2C;
   cursor: pointer;

}