.select {
   display: block;
   width: 100%;
   position: relative;
}

.new-select {

   &__header {
      position: relative;
      height: 56px;
      padding: 0 24px;
      border-radius: 12px;
      background: #FAF8F6;
      display: flex;
      align-items: center;
      font-size: 18px;
      cursor: pointer;
      user-select: none;

      .arrow {
         display: inline-block;
         width: 10px;
         height: 10px;
         border-style: solid;
         border-width: 2px;
         border-color: transparent transparent rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5);
         position: absolute;
         top: 47%;
         right: 15px;
         transform-origin: 35% 68%;
         transform: translateY(-50%) rotate(-45deg);
         transition: transform 0.3s;
      }

      &.on {
         border: 1px solid #ced4da;

         .arrow {
            transform: translateY(-50%) rotate(135deg);
         }
      }
   }
}

.new-select__list {
   position: absolute;
   top: 46px;
   left: 0;
   min-width: max-content;
   width: 100%;
   max-height: 0;
   overflow: auto;
   border: unset;
   padding: 0 15px;
   cursor: pointer;
   background: #fff;
   user-select: none;
   transition: max-height 0.3s linear 0s;

   color: #333333;
   z-index: 3;

   &--upwards {
      top: unset;
      bottom: calc(100% - 10px);
   }
}

.new-select__list.on {
   max-height: 132px;
   border: 1px solid #ced4da;
}


._position--up {
   top: unset;
   bottom: calc(100% + 5px);
}

.new-select__item {
   height: 44px;
   display: flex;
   align-items: center;

   &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
   }

   span {
      width: 100%;
      display: block;
   }
}

.new-select__item:hover,
.new-select__item--active {
   height: 45px;
   //color: #FFFFFF;
   margin: -1px -15px -0px;
   padding: 0px 14.5px;
   border: 1px solid rgba(0, 0, 0, 0.08);
   background: #FAF8F6;
}