.footer {
   width: 100%;
   padding: 70px 0 60px 0;
   background: #FAF8F6;

   @media (max-width: 650px) {
      padding: 40px 0 40px 0;
   }

   &__container {
      display: grid;
      grid-template-columns: min-content auto;
      grid-template-rows: auto 1fr;
      row-gap: 64px;
      column-gap: 16.7%;

      @media (max-width: 1440px) {
         column-gap: 10%;
      }

      @media (max-width: 1024px) {
         column-gap: 5%;
      }

      @media (max-width: 650px) {
         grid-template-columns: 1fr;
         row-gap: 40px;
      }
   }

   &__logo {
      width: 85.5px;
      height: 99px;

      @media (max-width: 650px) {
         width: 42px;
         height: 50px;
      }

      img {
         width: 100%;
         height: 100%;
      }
   }

   &__copyright {
      width: 124px;
      font-size: .8571rem;
      opacity: 0.3;

      @media (max-width: 650px) {
         width: auto;
      }
   }

   &__menu {
      grid-column: 2/3;
      grid-row: 1/3;

      @media (max-width: 650px) {
         grid-column: 1/2;
         grid-row: 2/3;
      }
   }
}

.menu-footer {
   display: grid;
   grid-template-columns: repeat(3, auto);
   column-gap: 12.55%;

   @media (max-width: 1440px) {
      column-gap: 7%;
   }

   @media (max-width: 650px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 38px;
      column-gap: 15px;
   }


   &__shop {
      ul {
         display: flex;

         @media (max-width: 1440px) {
            flex-direction: column;
         }

         div:not(:last-child) {
            margin: 0 45px 0 0;

            @media (max-width: 1024px) {
               margin: 0 0 0 0;
            }
         }
      }
   }

   &__part-list {
      max-width: 140px;

      &:last-child {
         margin-bottom: -14px;
      }
   }

   &__title {
      margin-bottom: 24px;
      font-family: Effra;
      font-size: 18px;
      font-weight: 400;
      //line-height: 250.1%;
      line-height: normal;

      @media (max-width: 650px) {
         margin-bottom: 20px;
      }
   }

   &__list {}

   &__item {
      margin-bottom: 14px;
      opacity: 0.5;
      line-height: 150%;
   }

   &__information {}

   &__contact {
      @media (max-width: 650px) {
         margin-bottom: -14px;
         grid-column: 1/3;
         grid-row: 2/3;

      }

      li {
         //:not(:last-child)
         margin-bottom: 18px;

         @media (max-width: 650px) {
            margin-bottom: 14px;
         }
      }

      img {
         width: 22px;
         height: 22px;
         margin-right: 10px;
      }
   }
}