.header {
   width: 100%;
   height: 110px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background: rgb(255 255 255 / 80%);
   display: flex;
   align-items: center;
   z-index: 50;

   @media (max-width: 650px) {
      height: 70px;
   }


   &__zero {
      position: absolute;
      top: -100vh;
      width: 100vw;
      height: 100vh;
      left: 0;
      transition: all 0.3s ease 0s;
      z-index: 1;

      &._active {
         top: 0;
         background: #ffffff;
         opacity: 0.78;
         transition: all 0.3s ease 0s;
      }
   }

   &__header-container {
      width: 100%;
      height: 100%;
      margin: 0 30px 0 35px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 650px) {
         margin: 0 20px 0 20px;
      }
   }

   &__burger {
      display: none;
      width: 24px;
      height: 18px;
      position: relative;
      cursor: pointer;

      @media (max-width: 650px) {
         display: block;
      }

      &._active {
         span {
            width: 0;

            &::before {
               top: 11px;
               transform: rotate(-45deg); //translateY(3px)
               transform-origin: left center;
            }

            &::after {
               transform: rotate(45deg); //translateY(-3px)
               transform-origin: left center;
            }
         }
      }

      span {
         top: 50%;
         transform: translateY(50%);
         left: 0;

         &,
         &::before,
         &::after {
            position: absolute;
            content: '';
            display: block;
            width: 24px;
            height: 2px;
            background: #000;
            transition: all .2s;
         }

         &::before {
            position: absolute;
            top: 6px;
            left: 0;

         }

         &::after {
            position: absolute;
            bottom: 6px;
            left: 0;

         }
      }
   }

   &__logo {
      width: 42px;
      height: 50px;
      display: block;

      @media (max-width:650px) {
         width: 33.6px;
         height: 40px;
      }

      img {
         width: 100%;
         height: 100%;
         transition: transform 0.5s;

         &:hover {
            transform: rotateX(180deg);
         }
      }
   }

   &__body {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &>*:not(:last-child) {
         margin: 0 30px 0 0;

         @media (max-width: 650px) {
            margin: 0;
         }
      }
   }

   @keyframes shake {

      0%,
      25% {
         transform: translateX(0);
      }

      10%,
      20% {
         transform: translateX(-1px); // translateY(-1px)
      }

      15% {
         transform: translateX(1px); // translateY(1px)
      }
   }

   &__profile-logo,
   &__cart-icon {
      width: 32px;
      height: 32px;

      img {
         width: 100%;
         height: 100%;
         transition: transform 0.8s;

         &:hover {
            animation: shake 0.9s infinite;
         }
      }
   }

   &__profile-logo {
      @media (max-width:650px) {
         display: none;
      }
   }

   &__cart-icon {
      cursor: pointer;
   }

   &__button {
      @include oval-button($width: 154px, $hight: 50px, $font-size: 1.1429rem);

      @media (max-width:650px) {
         display: none;
      }
   }

}