:root {

   //--breakpoint-xs: 320px; 
   --breakpoint-sm: 480px;
   --breakpoint-md: 767px;
   --breakpoint-lg: 1023px;
   --breakpoint-xl: 1439px;
   //--breakpoint-xxl: 480px; 

   --pdng-conteiner: 56px;

   //@media screen and (max-width: 1440px) {
   //   --pdng-conteiner: 56px;
   //}

   @media screen and (max-width: 768px) {
      --pdng-conteiner: 36px;
   }

   @media screen and (max-width: 425px) {
      --pdng-conteiner: 12px;
   }

   //--------------width-smaller-container
   --width-smaller-container: 1044px;

   @media screen and (max-width: 1440px) {
      --width-smaller-container: 72.64%;
   }

   @media screen and (max-width: 1024px) {
      --width-smaller-container: 68.95%;
   }

   @media screen and (max-width: 768px) {
      --width-smaller-container: 67.71%;
   }

   @media screen and (max-width: 600px) {
      --width-smaller-container: 100%;
   }

   --pdng-text-conteiner: 120px;
}