:root {

   --bp-xxs: 375px;
   --bp-xs: 480px;
   --bp-s: 650px;
   --bp-sm: 768px;
   --bp-md: 1024px;
   --bp-lg: 1440px;
   --bp-l: 1650px;
   --bp-xl: 1920px;

   --main-orange: #FF7D4E;
   --main-purple: #8172DD;
   --btn-purple: #6E5DDC;
   --goods-purple: #9C91E0;
   --goods-mint: #94D6BE;
   --goods-pink: #DA91E0;
   --goods-blue: #91CAF2;
   --goods-orange: #F2B385;
   --goods-green: #A5B3FF;
   --goods-red: #E8939D;
   --goods-blue-text: #5F9DCA;

   --pdng-conteiner: 92px;

   @media (max-width: 1440px) {
      --pdng-conteiner: 64px;
   }

   @media (max-width: 1024px) {
      --pdng-conteiner: 56px;
   }

   @media (max-width: 768px) {
      --pdng-conteiner: 48px;
   }

   @media (max-width: 425px) {
      --pdng-conteiner: 20px;
   }

   //--------------падінг верхнього відступу в секції

   --pdt-section: 150px;

   @media (max-width: 768px) {
      --pdt-section: 100px;
   }

   @media (max-width: 425px) {
      --pdt-section: 60px;
   }

   //--------------width-smaller-container
   --width-smaller-container: 1044px;

   @media screen and (max-width: 1440px) {
      --width-smaller-container: 72.64%;
   }

   @media screen and (max-width: 1024px) {
      --width-smaller-container: 68.95%;
   }

   @media screen and (max-width: 768px) {
      --width-smaller-container: 67.71%;
   }

   @media screen and (max-width: 600px) {
      --width-smaller-container: 100%;
   }

   --pdng-text-conteiner: 120px;
}