<a class="product-card">
  <div class="product-card__sale-box">
    <div>-45%</div>
  </div>
  <div class="product-card__img-block">
    <div class="product-card__wrapper-img">
      <img src="@@img" alt="Product" />
    </div>
  </div>
  <div class="product-card__content">
    <div class="product-card__info-block">
      <div class="product-card__type product-card__type--color--@@type">@@type</div>
      <div class="product-card__title">@@title</div>
    </div>
    <div class="product-card__prise-block">
      <div class="product-card__prise">@@price</div>
      <div class="product-card__sale-prise">@@sale_price</div>
    </div>
  </div>
</a>
