<div class="products">
  <div class="products__container">
    <div class="products__menu">@@include('../common/catalog-menu.html',{})</div>
    <div class="products__products-block">
      <div class="products__card">@@include('./catalog-product.html', {'img':'@img/catalogue/products/Ortho-B-Complex.png','type':'Vitamins & Dietary Supplements', 'title':'Ortho B Complex', 'price':'$61.98', 'sale_price':''})</div>
      <div class="products__card">@@include('./catalog-product.html', {'img':'@img/catalogue/products/Methoxyflavone.png','type':'Vitamins & Dietary Supplements', 'title':'Metagenics - 500-C Methoxyflavone', 'price':'$61.98', 'sale_price':''})</div>
      <div class="products__card">@@include('./catalog-product.html', {'img':'@img/catalogue/products/Ortho-B-Complex.png','type':'Vitamins & Dietary Supplements', 'title':'Ortho Molecular - Vitamin D', 'price':'$61.98', 'sale_price':''})</div>
      <div class="products__card">@@include('./catalog-product.html', {'img':'@img/catalogue/products/Ortho-B-Complex.png','type':'Vitamins & Dietary Supplements', 'title':'', 'price':'$61.98', 'sale_price':''})</div>
      <div class="products__card">@@include('./catalog-product.html', {'img':'@img/catalogue/products/Methoxyflavone.png','type':'Vitamins & Dietary Supplements', 'title':'', 'price':'$61.98', 'sale_price':''})</div>
      <div class="products__card">@@include('./catalog-product.html', {'img':'https://firebasestorage.googleapis.com/v0/b/vitamin-92f4f.appspot.com/o/prodact%2FMethoxyflavone.png?alt=media&token=92d8d075-2925-48e4-95e1-96cbd069b154','type':'Vitamins & Dietary Supplements', 'title':'', 'price':'$61.98', 'sale_price':'$32.45'})</div>
    </div>
  </div>
</div>
