<div class="swiper title-swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide swiper-slide--style--first">
      <div class="swiper-slide__wrapper">
        <div class="swiper-slide__bacground swiper-slide__bacground--bg-color--main-purple">
          <div class="swiper-slide__bg-img swiper-slide__bg-img--rezolution--big">
            <img src="@img/catalogue/bg-first-slide.svg" alt="Logotype" />
          </div>
          <div class="swiper-slide__bg-img swiper-slide__bg-img--rezolution--small">
            <img src="@img/catalogue/little-bg-slide.svg" alt="Logotype" />
          </div>
          <div class="swiper-slide__arc">
            <img src="@img/catalogue/arc.svg" alt="arc" />
          </div>
          <div class="swiper-slide__circle">
            <img src="@img/home-page/little-yellow-circle.svg" alt="Little yellow circle" />
          </div>
        </div>
        <div class="swiper-slide__content-block">
          <div class="swiper-slide__content">
            <h2 class="swiper-slide__title">Don’t know what vitamins your body needs?</h2>
            <div class="swiper-slide__subtitle subtitle-h2">Answer a few simple questions and automatically get a personalazed list of vitamins in minutes</div>
            <button class="swiper-slide__button" data-link="quiz.html">Take the quiz</button>
          </div>
        </div>
        <div class="swiper-slide__img swiper-slide__img--size--big">
          <img src="@img/catalogue/image-first-slide.png" alt="Vitamins" />
        </div>
        <div class="swiper-slide__img swiper-slide__img--size--small">
          <img src="@img/catalogue/little-image-first-slide.png" alt="Vitamins" />
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide">
      <div class="swiper-slide__wrapper">
        <div class="swiper-slide__bacground swiper-slide__bacground--bg-color--goods-purple">
          <div class="swiper-slide__bg-img swiper-slide__bg-img--rezolution--big">
            <img src="@img/catalogue/bg-other-slide.svg" alt="Logotype" />
          </div>
          <div class="swiper-slide__bg-img swiper-slide__bg-img--rezolution--small">
            <img src="@img/catalogue/little-bg-slide.svg" alt="Logotype" />
          </div>
        </div>
        <div class="swiper-slide__content-block">
          <div class="swiper-slide__content">
            <div class="swiper-slide__bifore-title">You may also like</div>
            <h2 class="swiper-slide__title">Vitamins & Dietary Supplements</h2>
            <div class="swiper-slide__subtitle subtitle-h2">Answer a few simple questions and automatically get a personalazed list of vitamins in minutes</div>
            <button class="swiper-slide__button">View category</button>
          </div>
        </div>
        <div class="swiper-slide__img swiper-slide__img--size--big">
          <img src="@img/catalogue/main-img-vitamins.png" alt="Vitamins" />
        </div>
        <div class="swiper-slide__img swiper-slide__img--size--small">
          <img src="@img/catalogue/little-main-img-vitamins.png" alt="Vitamins" />
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide">
      <div class="swiper-slide__wrapper">
        <div class="swiper-slide__bacground swiper-slide__bacground--bg-color--goods-blue-text">
          <div class="swiper-slide__bg-img swiper-slide__bg-img--rezolution--big">
            <img src="@img/catalogue/bg-other-slide.svg" alt="Logotype" />
          </div>
          <div class="swiper-slide__bg-img swiper-slide__bg-img--rezolution--small">
            <img src="@img/catalogue/little-bg-slide.svg" alt="Logotype" />
          </div>
        </div>
        <div class="swiper-slide__content-block">
          <div class="swiper-slide__content">
            <div class="swiper-slide__bifore-title">You may also like</div>
            <h2 class="swiper-slide__title">Pain Relief Products</h2>
            <div class="swiper-slide__subtitle subtitle-h2">Answer a few simple questions and automatically get a personalazed list of vitamins in minutes</div>
            <button class="swiper-slide__button">View category</button>
          </div>
        </div>
        <div class="swiper-slide__img swiper-slide__img--size--big">
          <img src="@img/catalogue/main-img-pain-relief.png" alt="Vitamins" />
        </div>
        <div class="swiper-slide__img swiper-slide__img--size--small">
          <img src="@img/catalogue/little-main-img-pain-relief.png" alt="Vitamins" />
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper__button-block">
    <div class="swiper__button-prev">
      <img src="@img/catalogue/Right.svg" alt="Button left" />
    </div>
    <div class="swiper__button-next">
      <img src="@img/catalogue/Right.svg" alt="Button right" />
    </div>
  </div>
</div>
