<form class="form" name="payment_form">
  <fieldset class="form__fieldset">
    <div class="form__background">
      <img src="@img/payment-methods/payment-card.png" alt="Payment card" />
    </div>
    <div class="form__input-wrapper">
      <label for="card_number">Card Number</label>
      <input type="text" name="card_number" id="card_number" />
      <div class="form__error error" id="error-card_number"></div>
    </div>
    <div class="form__input-wrapper">
      <label for="card_expiration">Expiration</label>
      <input type="text" name="card_expiration" id="card_expiration" />
      <div class="form__error error" id="error-card_expiration"></div>
    </div>
    <div class="form__input-wrapper">
      <label for="card_cvc">CVC</label>
      <input type="password" name="card_cvc" id="card_cvc" />
      <div class="form__error error" id="error-card_cvc"></div>
    </div>
  </fieldset>
  <!-- Замінити клас "no-active-button" на модеіфкатор -->
  <button class="form__submit no-active-button" type="submit">Save</button>
</form>
