<form class="form" name="change_password">
  <div class="form__input-wrapper">
    <label for="card_number">Current Password</label>
    <input type="password" name="current_password" id="current_password" />
    <div class="form__error error" id="error-current_password"></div>
  </div>
  <div class="form__input-wrapper">
    <label for="new_password">New Password</label>
    <input type="password" name="new_password" id="new_password" />
    <div class="form__error error" id="error-new_password"></div>
  </div>
  <div class="form__input-wrapper">
    <label for="confirm_new_password">Confirm New Password</label>
    <input type="password" name="confirm_new_password" id="confirm_new_password" />
    <div class="form__error error" id="error-confirm_new_password"></div>
  </div>
  <button class="form__submit form__submit--active--false" type="submit">Save</button>
</form>
