.place-order-form {

   &__title {
      margin-bottom: 40px;
   }

   &__account-fieldset {
      margin-bottom: 80px;
   }

   &__payment-fieldset {}

   #file-wrapper {
      display: none;
   }
}

.form {

   &__fieldset {
      @media (max-width: 1024px) {
         grid-template-columns: repeat(1, 1fr);
      }
   }

   &__item {}

   &__error {}

   &__item--duble {}

   &__subitem {}
}

.error {}