@charset "UTF-8";
/*Обнулення*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Bold.woff2") format("woff2"), url("../fonts/Effra-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Medium.woff2") format("woff2"), url("../fonts/Effra-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Regular.woff2") format("woff2"), url("../fonts/Effra-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@keyframes shake {
  0%, 25% {
    transform: translateX(0);
  }
  10%, 20% {
    transform: translateX(-1px);
  }
  15% {
    transform: translateX(1px);
  }
}
:root {
  --bp-xxs: 375px;
  --bp-xs: 480px;
  --bp-s: 650px;
  --bp-sm: 768px;
  --bp-md: 1024px;
  --bp-lg: 1440px;
  --bp-l: 1650px;
  --bp-xl: 1920px;
  --main-orange: #FF7D4E;
  --main-purple: #8172DD;
  --btn-purple: #6E5DDC;
  --goods-purple: #9C91E0;
  --goods-mint: #94D6BE;
  --goods-pink: #DA91E0;
  --goods-blue: #91CAF2;
  --goods-orange: #F2B385;
  --goods-green: #A5B3FF;
  --goods-red: #E8939D;
  --pdng-conteiner: 92px;
  --pdt-section: 150px;
  --width-smaller-container: 1044px;
  --pdng-text-conteiner: 120px;
}
@media (max-width: 1440px) {
  :root {
    --pdng-conteiner: 64px;
  }
}
@media (max-width: 1024px) {
  :root {
    --pdng-conteiner: 56px;
  }
}
@media (max-width: 768px) {
  :root {
    --pdng-conteiner: 48px;
  }
}
@media (max-width: 425px) {
  :root {
    --pdng-conteiner: 20px;
  }
}
@media (max-width: 768px) {
  :root {
    --pdt-section: 100px;
  }
}
@media (max-width: 425px) {
  :root {
    --pdt-section: 60px;
  }
}
@media screen and (max-width: 1440px) {
  :root {
    --width-smaller-container: 72.64%;
  }
}
@media screen and (max-width: 1024px) {
  :root {
    --width-smaller-container: 68.95%;
  }
}
@media screen and (max-width: 768px) {
  :root {
    --width-smaller-container: 67.71%;
  }
}
@media screen and (max-width: 600px) {
  :root {
    --width-smaller-container: 100%;
  }
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  display: flex;
  flex-direction: column;
}

._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1580px;
  padding-left: 92px;
  padding-right: 92px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  [class*=__container] {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media (max-width: 1024px) {
  [class*=__container] {
    padding-left: 56px;
    padding-right: 56px;
  }
}
@media (max-width: 768px) {
  [class*=__container] {
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media (max-width: 425px) {
  [class*=__container] {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: Effra;
  font-size: 56px;
  font-weight: 500;
  line-height: 121%;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}
@media (max-width: 425px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  font-family: Effra;
  font-size: 50px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  h2 {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 40px;
    line-height: 42px;
  }
}
@media (max-width: 425px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-family: Effra;
  font-size: 40px;
  font-weight: 500;
}

h4 {
  font-family: Effra;
  font-size: 36px;
  font-weight: 500;
}

h5 {
  font-family: Effra;
  font-size: 30px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  h5 {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  h5 {
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  h5 {
    font-size: 14px;
  }
}

h6 {
  font-family: Effra;
  font-size: 26px;
  font-weight: 500;
}

.subtitle-20 {
  font-size: 1.4286rem;
  line-height: 163.418%;
  /* 32.684px */
  color: #808080;
}
@media (max-width: 1024px) {
  .subtitle-20 {
    font-size: 1.2857rem;
  }
}
@media (max-width: 768px) {
  .subtitle-20 {
    font-size: 1.1429rem;
  }
}
@media (max-width: 425px) {
  .subtitle-20 {
    font-size: 1rem;
  }
}

.subtitle-h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0.01em;
}
@media (max-width: 1024px) {
  .subtitle-h2 {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .subtitle-h2 {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .subtitle-h2 {
    font-size: 12px;
  }
}

.monts15 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.p16 {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.01em;
}
@media (max-width: 768px) {
  .p16 {
    font-size: 14px;
  }
}

.p14 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

main {
  max-width: 1920px;
  width: 100%;
  flex: 1 1 auto;
}

.overview-page__container {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10.028653%;
}
.overview-page__menu {
  max-width: 217px;
  width: 100%;
  min-width: max-content;
}

.header {
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  z-index: 50;
}
@media (max-width: 650px) {
  .header {
    height: 70px;
  }
}
.header__zero {
  position: absolute;
  top: -100vh;
  width: 100vw;
  height: 100vh;
  left: 0;
  transition: all 0.3s ease 0s;
  z-index: 1;
}
.header__zero._active {
  top: 0;
  background: #ffffff;
  opacity: 0.78;
  transition: all 0.3s ease 0s;
}
.header__header-container {
  width: 100%;
  height: 100%;
  margin: 0 30px 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 650px) {
  .header__header-container {
    margin: 0 20px 0 20px;
  }
}
.header__burger {
  display: none;
  width: 24px;
  height: 18px;
  position: relative;
  cursor: pointer;
}
@media (max-width: 650px) {
  .header__burger {
    display: block;
  }
}
.header__burger._active span {
  width: 0;
}
.header__burger._active span::before {
  top: 11px;
  transform: rotate(-45deg);
  transform-origin: left center;
}
.header__burger._active span::after {
  transform: rotate(45deg);
  transform-origin: left center;
}
.header__burger span {
  top: 50%;
  transform: translateY(50%);
  left: 0;
}
.header__burger span, .header__burger span::before, .header__burger span::after {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background: #000;
  transition: all 0.2s;
}
.header__burger span::before {
  position: absolute;
  top: 6px;
  left: 0;
}
.header__burger span::after {
  position: absolute;
  bottom: 6px;
  left: 0;
}
.header__logo {
  width: 42px;
  height: 50px;
  display: block;
}
@media (max-width: 650px) {
  .header__logo {
    width: 33.6px;
    height: 40px;
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}
.header__logo img:hover {
  transform: rotateX(180deg);
}
.header__body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__body > *:not(:last-child) {
  margin: 0 30px 0 0;
}
@media (max-width: 650px) {
  .header__body > *:not(:last-child) {
    margin: 0;
  }
}
@keyframes shake {
  0%, 25% {
    transform: translateX(0);
  }
  10%, 20% {
    transform: translateX(-1px);
  }
  15% {
    transform: translateX(1px);
  }
}
.header__profile-logo, .header__cart-icon {
  width: 32px;
  height: 32px;
}
.header__profile-logo img, .header__cart-icon img {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
}
.header__profile-logo img:hover, .header__cart-icon img:hover {
  animation: shake 0.9s infinite;
}
@media (max-width: 650px) {
  .header__profile-logo {
    display: none;
  }
}
.header__cart-icon {
  cursor: pointer;
}
.header__button {
  width: 154px;
  height: 50px;
  font-size: 1.1429rem;
  text-align: center;
  font-family: Effra;
  font-weight: 700;
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 25px;
  background: var(--main-orange);
  color: #FFF;
}
@media (max-width: 425px) {
  .header__button {
    width: 154px;
    height: 50px;
  }
}
.header__button:hover {
  box-shadow: -2px 2px rgba(0, 0, 0, 0.2), -5px 5px 5px var(--main-orange);
  transform: translateY(-2px) translateX(2px);
}
@media (max-width: 650px) {
  .header__button {
    display: none;
  }
}

.footer {
  width: 100%;
  padding: 70px 0 60px 0;
  background: #FAF8F6;
}
@media (max-width: 650px) {
  .footer {
    padding: 40px 0 40px 0;
  }
}
.footer__container {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto 1fr;
  row-gap: 64px;
  column-gap: 16.7%;
}
@media (max-width: 1440px) {
  .footer__container {
    column-gap: 10%;
  }
}
@media (max-width: 1024px) {
  .footer__container {
    column-gap: 5%;
  }
}
@media (max-width: 650px) {
  .footer__container {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}
.footer__logo {
  width: 85.5px;
  height: 99px;
}
@media (max-width: 650px) {
  .footer__logo {
    width: 42px;
    height: 50px;
  }
}
.footer__logo img {
  width: 100%;
  height: 100%;
}
.footer__copyright {
  width: 124px;
  font-size: 0.8571rem;
  opacity: 0.3;
}
@media (max-width: 650px) {
  .footer__copyright {
    width: auto;
  }
}
.footer__menu {
  grid-column: 2/3;
  grid-row: 1/3;
}
@media (max-width: 650px) {
  .footer__menu {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.menu-footer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 12.55%;
}
@media (max-width: 1440px) {
  .menu-footer {
    column-gap: 7%;
  }
}
@media (max-width: 650px) {
  .menu-footer {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 38px;
    column-gap: 15px;
  }
}
.menu-footer__shop ul {
  display: flex;
}
@media (max-width: 1440px) {
  .menu-footer__shop ul {
    flex-direction: column;
  }
}
.menu-footer__shop ul div:not(:last-child) {
  margin: 0 45px 0 0;
}
@media (max-width: 1024px) {
  .menu-footer__shop ul div:not(:last-child) {
    margin: 0 0 0 0;
  }
}
.menu-footer__part-list {
  max-width: 140px;
}
.menu-footer__part-list:last-child {
  margin-bottom: -14px;
}
.menu-footer__title {
  margin-bottom: 24px;
  font-family: Effra;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 650px) {
  .menu-footer__title {
    margin-bottom: 20px;
  }
}
.menu-footer__item {
  margin-bottom: 14px;
  opacity: 0.5;
  line-height: 150%;
}
@media (max-width: 650px) {
  .menu-footer__contact {
    margin-bottom: -14px;
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
.menu-footer__contact li {
  margin-bottom: 18px;
}
@media (max-width: 650px) {
  .menu-footer__contact li {
    margin-bottom: 14px;
  }
}
.menu-footer__contact img {
  margin-right: 10px;
}