@charset "UTF-8";
/*Обнулення*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Bold.woff2") format("woff2"), url("../fonts/Effra-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Medium.woff2") format("woff2"), url("../fonts/Effra-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Regular.woff2") format("woff2"), url("../fonts/Effra-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@keyframes shake {
  0%, 25% {
    transform: translateX(0);
  }
  10%, 20% {
    transform: translateX(-1px);
  }
  15% {
    transform: translateX(1px);
  }
}
:root {
  --bp-xxs: 375px;
  --bp-xs: 480px;
  --bp-s: 650px;
  --bp-sm: 768px;
  --bp-md: 1024px;
  --bp-lg: 1440px;
  --bp-l: 1650px;
  --bp-xl: 1920px;
  --main-orange: #FF7D4E;
  --main-purple: #8172DD;
  --btn-purple: #6E5DDC;
  --goods-purple: #9C91E0;
  --goods-mint: #94D6BE;
  --goods-pink: #DA91E0;
  --goods-blue: #91CAF2;
  --goods-orange: #F2B385;
  --goods-green: #A5B3FF;
  --goods-red: #E8939D;
  --goods-blue-text: #5F9DCA;
  --pdng-conteiner: 92px;
  --pdt-section: 150px;
  --width-smaller-container: 1044px;
  --pdng-text-conteiner: 120px;
}
@media (max-width: 1440px) {
  :root {
    --pdng-conteiner: 64px;
  }
}
@media (max-width: 1024px) {
  :root {
    --pdng-conteiner: 56px;
  }
}
@media (max-width: 768px) {
  :root {
    --pdng-conteiner: 48px;
  }
}
@media (max-width: 425px) {
  :root {
    --pdng-conteiner: 20px;
  }
}
@media (max-width: 768px) {
  :root {
    --pdt-section: 100px;
  }
}
@media (max-width: 425px) {
  :root {
    --pdt-section: 60px;
  }
}
@media screen and (max-width: 1440px) {
  :root {
    --width-smaller-container: 72.64%;
  }
}
@media screen and (max-width: 1024px) {
  :root {
    --width-smaller-container: 68.95%;
  }
}
@media screen and (max-width: 768px) {
  :root {
    --width-smaller-container: 67.71%;
  }
}
@media screen and (max-width: 600px) {
  :root {
    --width-smaller-container: 100%;
  }
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  display: flex;
  flex-direction: column;
}

._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1580px;
  padding-left: 92px;
  padding-right: 92px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  [class*=__container] {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media (max-width: 1024px) {
  [class*=__container] {
    padding-left: 56px;
    padding-right: 56px;
  }
}
@media (max-width: 768px) {
  [class*=__container] {
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media (max-width: 425px) {
  [class*=__container] {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: Effra;
  font-size: 56px;
  font-weight: 500;
  line-height: 121%;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}
@media (max-width: 425px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  font-family: Effra;
  font-size: 50px;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 1024px) {
  h2 {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 40px;
    line-height: 42px;
  }
}
@media (max-width: 425px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-family: Effra;
  font-size: 40px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  h3 {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  h3 {
    font-size: 30px;
  }
}
@media (max-width: 425px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-family: Effra;
  font-size: 36px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  h4 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  h4 {
    font-size: 28px;
  }
}
@media (max-width: 425px) {
  h4 {
    font-size: 24px;
  }
}

h5 {
  font-family: Effra;
  font-size: 30px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  h5 {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  h5 {
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  h5 {
    font-size: 14px;
  }
}

h6 {
  font-family: Effra;
  font-size: 26px;
  font-weight: 500;
}

.subtitle-20 {
  font-size: 1.4286rem;
  line-height: 163.418%;
  /* 32.684px */
  color: #808080;
}
@media (max-width: 1024px) {
  .subtitle-20 {
    font-size: 1.2857rem;
  }
}
@media (max-width: 768px) {
  .subtitle-20 {
    font-size: 1.1429rem;
  }
}
@media (max-width: 425px) {
  .subtitle-20 {
    font-size: 1rem;
    line-height: normal;
  }
}

.subtitle-h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0.01em;
}
@media (max-width: 1024px) {
  .subtitle-h2 {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .subtitle-h2 {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .subtitle-h2 {
    font-size: 12px;
  }
}

.monts15 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.p16 {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.01em;
}
@media (max-width: 768px) {
  .p16 {
    font-size: 14px;
  }
}

.p14 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

main {
  max-width: 1920px;
  width: 100%;
  margin-top: 110px;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  padding-top: 52px;
  flex: 1 1 auto;
}
@media (max-width: 650px) {
  main {
    margin-top: 70px;
  }
}

.profile-page__container {
  width: 100%;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: minmax(max-content, 217px) 1fr;
  column-gap: 10.028653%;
}
@media (max-width: 1024px) {
  .profile-page__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1024px) {
  .profile-page__container {
    margin-bottom: 60px;
  }
}
.profile-page__menu {
  max-width: 217px;
  width: 100%;
  min-width: max-content;
}
@media (max-width: 1024px) {
  .profile-page__menu {
    display: none;
  }
}
.profile-page__menu .profile-menu__item:nth-child(4) {
  font-weight: 700;
}
.profile-page__content {
  max-width: 920px;
  width: 100%;
}

.content__title-block {
  width: 100%;
  margin-bottom: 45px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.478261%;
  row-gap: 1px;
}
@media (max-width: 768px) {
  .content__title-block {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 425px) {
  .content__title-block {
    margin-bottom: 35px;
  }
}
.content__title {
  margin-right: -100px;
}
@media (max-width: 768px) {
  .content__title {
    margin-right: 0;
  }
}
.content__customer {
  display: none;
  margin-top: 13px;
  text-align: right;
  font-family: Effra;
  font-size: 22px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .content__customer {
    font-size: 20px;
    text-align: left;
  }
}
@media (max-width: 425px) {
  .content__customer {
    font-size: 18px;
  }
}
.content__customer--display--block {
  display: block;
}

.header {
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 50;
}
.header--active {
  background: rgba(255, 255, 255, 0.8);
}
@media (max-width: 650px) {
  .header {
    height: 70px;
  }
}
.header__zero {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  right: -100vw;
  transition: all 0.3s ease 0s;
  z-index: 2;
}
.header__zero--active {
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.78;
  transition: all 0.3s ease 0s;
}
.header__download-info-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 650px) {
  .header__download-info-block {
    height: 70px;
  }
}
.header__cart {
  position: absolute;
  top: 0;
  right: -500px;
  max-width: 500px;
  width: 100%;
  height: 100vh;
  z-index: 3;
  transition: all 0.3s ease 0s;
}
.header__cart--active {
  top: 0;
  right: 0;
  transition: all 0.3s ease 0s;
}
.header__header-container {
  width: 100%;
  height: 100%;
  margin: 0 30px 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 650px) {
  .header__header-container {
    margin: 0 20px 0 20px;
  }
}
.header__burger {
  display: none;
  width: 24px;
  height: 18px;
  margin-left: 4px;
  position: relative;
  cursor: pointer;
}
@media (max-width: 650px) {
  .header__burger {
    display: block;
  }
}
.header__burger._active span {
  width: 0;
}
.header__burger._active span::before {
  top: 11px;
  transform: rotate(-45deg);
  transform-origin: left center;
}
.header__burger._active span::after {
  transform: rotate(45deg);
  transform-origin: left center;
}
.header__burger span {
  top: 50%;
  transform: translateY(50%);
  left: 0;
}
.header__burger span, .header__burger span::before, .header__burger span::after {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background: #000;
  transition: all 0.2s;
}
.header__burger span::before {
  position: absolute;
  top: 8px;
  left: 0;
}
.header__burger span::after {
  position: absolute;
  bottom: 8px;
  left: 0;
}
.header__logo {
  width: 42px;
  height: 50px;
  display: block;
}
@media (max-width: 650px) {
  .header__logo {
    width: 33.6px;
    height: 40px;
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}
.header__logo img:hover {
  transform: rotateX(180deg);
}
.header__logo img:last-child {
  display: none;
}
.header__logo--color--white img:first-child {
  display: none;
}
.header__logo--color--white img:last-child {
  display: block;
}
.header__body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__body > *:not(:last-child) {
  margin: 0 30px 0 0;
}
@media (max-width: 650px) {
  .header__body > *:not(:last-child) {
    margin: 0;
  }
}
@keyframes shake {
  0%, 25% {
    transform: translateX(0);
  }
  10%, 20% {
    transform: translateX(-1px);
  }
  15% {
    transform: translateX(1px);
  }
}
.header__profile-logo, .header__cart-icon {
  width: 32px;
  height: 32px;
}
.header__profile-logo:hover, .header__cart-icon:hover {
  animation: shake 0.9s infinite;
}
.header__profile-logo img, .header__cart-icon img {
  width: 100%;
  height: 100%;
}
@media (max-width: 650px) {
  .header__profile-logo {
    display: none;
  }
}
.header__cart-icon {
  cursor: pointer;
}
.header__cart-icon--not-empty {
  position: relative;
}
.header__cart-icon--not-empty span {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid white;
  background: #FF7D4E;
  z-index: 1;
}
.header__button {
  width: 154px;
  height: 50px;
  font-size: 1.1429rem;
  text-align: center;
  font-family: Effra;
  font-weight: 700;
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 25px;
  background: var(--main-orange);
  color: #FFF;
}
@media (max-width: 425px) {
  .header__button {
    width: 154px;
    height: 50px;
  }
}
.header__button:hover {
  box-shadow: -2px 2px rgba(0, 0, 0, 0.2), -5px 5px 5px var(--main-orange);
  transform: translateY(-2px) translateX(2px);
}
@media (max-width: 650px) {
  .header__button {
    display: none;
  }
}

.download-info-block {
  width: 336px;
  height: 56px;
  border-radius: 12px;
  background: #A2C94F;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.download-info-block--display--none {
  display: none;
}
@media (max-width: 650px) {
  .download-info-block {
    width: 100%;
    height: 70px;
    border-radius: unset;
  }
}
.download-info-block__icon-bloc {
  width: 20px;
  height: 14px;
  margin-right: 15px;
}
.download-info-block__text {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.cart {
  width: 100%;
  height: 100%;
  background: #FFF;
  display: flex;
  flex-direction: column;
}
.cart__title-block {
  width: 100%;
  min-height: 110px;
  padding: 0 38px 0 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 650px) {
  .cart__title-block {
    min-height: 70px;
    padding: 0 27px 0 20px;
  }
}
.cart__title-criss-cross {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.cart__cards {
  flex: 1 1 auto;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.cart__cards::-webkit-scrollbar {
  display: none;
}
.cart__cards-wrapper {
  width: 100%;
  padding: 30px;
}
@media (max-width: 480px) {
  .cart__cards-wrapper {
    padding: 30px 30px 30px 0;
  }
}
.cart__card:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 480px) {
  .cart__card:not(:last-child) {
    margin-bottom: 1px;
  }
}
.cart__btn-block {
  width: 100%;
  padding: 30px 30px 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}
@media (max-width: 650px) {
  .cart__btn-block {
    padding: 20px 15px 10px;
  }
}
.cart__btn-block--not-active .cart__btn {
  border: #C3BDB6;
}
.cart__btn-block--not-active .cart__min-order span {
  display: block;
}
.cart__btn {
  width: 100%;
  height: 65px;
  font-size: 20px;
  text-align: center;
  font-family: Effra;
  font-weight: 700;
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 32.5px;
  background: var(--main-orange);
  color: #FFF;
  margin-bottom: 15px;
}
@media (max-width: 425px) {
  .cart__btn {
    width: 100%;
    height: 56px;
  }
}
.cart__btn:hover {
  box-shadow: -2px 2px rgba(0, 0, 0, 0.2), -5px 5px 5px var(--main-orange);
  transform: translateY(-2px) translateX(2px);
}
@media (max-width: 650px) {
  .cart__sum {
    padding-bottom: 15px;
  }
}
.cart__min-order {
  display: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.cart-card {
  width: 100%;
  display: flex;
}
.cart-card__img-block {
  min-width: 120px;
  min-height: 174px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
@media (max-width: 480px) {
  .cart-card__img-block {
    min-width: 100px;
    border-radius: unset;
  }
}
.cart-card__img-wrapper {
  position: relative;
  width: 100%;
  padding-top: 93.33%;
}
.cart-card__img-wrapper div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cart-card__img {
  width: 100%;
}
.cart-card__content {
  margin: 10px 0 10px 25px;
  flex: 1 1 auto;
}
@media (max-width: 480px) {
  .cart-card__content {
    margin-left: 20px;
  }
}
.cart-card__title-block {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.cart-card__title {
  display: block;
  font-family: Effra;
  font-size: 20px;
  line-height: normal;
}
@media (max-width: 480px) {
  .cart-card__title {
    font-size: 16px;
  }
}
.cart-card__criss-cross {
  width: 18px;
  height: 18px;
  margin: 5px 10px 0 30px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .cart-card__criss-cross {
    margin: 5px 10px 0 20px;
  }
}
.cart-card__price-block {
  padding-bottom: 15px;
  border-bottom: 1px solid #F2F2F2;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.cart-card__quantity-choice {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: Effra;
  font-size: 16px;
  line-height: normal;
}
.cart-card__quantity-choice-minus-block, .cart-card__quantity-choice-plus-block {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cart-card__quantity-choice-minus-block img, .cart-card__quantity-choice-plus-block img {
  width: 20px;
  height: 20px;
  display: block;
}
.cart-card__quantity-choice-minus-block--not-active img, .cart-card__quantity-choice-plus-block--not-active img {
  opacity: 0.3;
}
.cart-card__quantity-choice-out-block {
  flex: 1 1 auto;
}
.cart-card__price-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 425px) {
  .cart-card__price-box {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
}
.cart-card__price {
  margin-right: 10px;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 480px) {
  .cart-card__price {
    font-size: 16px;
  }
}
@media (max-width: 425px) {
  .cart-card__price {
    margin-right: 0;
  }
}
.cart-card__price--text--strikethrough {
  font-size: 12px;
  text-decoration-line: line-through;
}
@media (max-width: 480px) {
  .cart-card__price--text--strikethrough {
    font-size: 10px;
  }
}
.cart-card__sale-price {
  color: #D32D2C;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 480px) {
  .cart-card__sale-price {
    font-size: 16px;
  }
}
.cart-card__sale-price--not-show {
  display: none;
}

.cart-autoship {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, max-content);
}
.cart-autoship__select-block {
  justify-self: flex-start;
  display: flex;
  align-items: center;
  line-height: normal;
}
.cart-autoship__select-block--not-active .cart-autoship__start-label, .cart-autoship__select-block--not-active .cart-autoship__finish-label, .cart-autoship__select-block--not-active .cart-autoship__start-label-small {
  opacity: 0.5;
}
.cart-autoship__select-block--not-active .cart-autoship__select-box {
  cursor: no-drop;
}
.cart-autoship__select-block--not-active .cart-autoship__select-header div,
.cart-autoship__select-block--not-active .cart-autoship__select-header img {
  opacity: 0.5;
}
.cart-autoship__start-label {
  margin-right: 10px;
}
@media (max-width: 1240px) {
  .cart-autoship__start-label {
    margin-right: 8px;
  }
}
@media (max-width: 425px) {
  .cart-autoship__start-label {
    display: none;
  }
}
.cart-autoship__start-label-small {
  display: none;
}
@media (max-width: 425px) {
  .cart-autoship__start-label-small {
    display: block;
    margin-right: 8px;
  }
}
.cart-autoship__select-box {
  position: relative;
  width: 68px;
  height: 36px;
  margin-right: 10px;
  border-radius: 8px;
  background: #F5F5F5;
  cursor: pointer;
}
@media (max-width: 1240px) {
  .cart-autoship__select-box {
    margin-right: 8px;
  }
}
@media (max-width: 480px) {
  .cart-autoship__select-box {
    width: 40px;
  }
}
.cart-autoship__select-header {
  width: 100%;
  height: 100%;
  padding: 0 12px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 480px) {
  .cart-autoship__select-header {
    padding: 0 12px 0 12px;
  }
}
.cart-autoship__select-arrow {
  display: block;
  transform: rotateZ(-90deg);
}
@media (max-width: 480px) {
  .cart-autoship__select-arrow {
    display: none;
  }
}
.cart-autoship__select-arrow--open-list {
  transform: rotateZ(90deg);
}
.cart-autoship__select-list {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  border-radius: 8px;
  padding: 3px 12px 3px 12px;
  background: #F5F5F5;
  overflow: hidden;
  translate: all 1s line 0;
  z-index: 1;
}
.cart-autoship__select-list--not-show {
  height: 0;
  opacity: 0;
  translate: all 1s line 0;
}
.cart-autoship__select-item {
  width: 100%;
  padding: 5px 0;
  text-align: center;
}
.cart-autoship__select-item--active {
  color: #FF7D4E;
  font-weight: 700;
}
.cart-autoship__select-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.cart-autoship__checkbox {
  margin-right: 10px;
  align-self: center;
}
.cart-autoship__checkbox-input {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid #C7C7C7;
}
.cart-autoship__checkbox-input:checked {
  border: unset;
  background: #FF7D4E;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-autoship__checkbox-input:checked::before {
  content: url("../img/product-card/check-mark.svg");
  display: block;
}

.footer {
  width: 100%;
  padding: 70px 0 60px 0;
  background: #FAF8F6;
}
@media (max-width: 650px) {
  .footer {
    padding: 40px 0 40px 0;
  }
}
.footer__container {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto 1fr;
  row-gap: 64px;
  column-gap: 16.7%;
}
@media (max-width: 1440px) {
  .footer__container {
    column-gap: 10%;
  }
}
@media (max-width: 1024px) {
  .footer__container {
    column-gap: 5%;
  }
}
@media (max-width: 650px) {
  .footer__container {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}
.footer__logo {
  width: 85.5px;
  height: 99px;
}
@media (max-width: 650px) {
  .footer__logo {
    width: 42px;
    height: 50px;
  }
}
.footer__logo img {
  width: 100%;
  height: 100%;
}
.footer__copyright {
  width: 124px;
  font-size: 0.8571rem;
  opacity: 0.3;
}
@media (max-width: 650px) {
  .footer__copyright {
    width: auto;
  }
}
.footer__menu {
  grid-column: 2/3;
  grid-row: 1/3;
}
@media (max-width: 650px) {
  .footer__menu {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.menu-footer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 12.55%;
}
@media (max-width: 1440px) {
  .menu-footer {
    column-gap: 7%;
  }
}
@media (max-width: 650px) {
  .menu-footer {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 38px;
    column-gap: 15px;
  }
}
.menu-footer__shop ul {
  display: flex;
}
@media (max-width: 1440px) {
  .menu-footer__shop ul {
    flex-direction: column;
  }
}
.menu-footer__shop ul div:not(:last-child) {
  margin: 0 45px 0 0;
}
@media (max-width: 1024px) {
  .menu-footer__shop ul div:not(:last-child) {
    margin: 0 0 0 0;
  }
}
.menu-footer__part-list {
  max-width: 140px;
}
.menu-footer__part-list:last-child {
  margin-bottom: -14px;
}
.menu-footer__title {
  margin-bottom: 24px;
  font-family: Effra;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 650px) {
  .menu-footer__title {
    margin-bottom: 20px;
  }
}
.menu-footer__item {
  margin-bottom: 14px;
  opacity: 0.5;
  line-height: 150%;
}
@media (max-width: 650px) {
  .menu-footer__contact {
    margin-bottom: -14px;
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
.menu-footer__contact li {
  margin-bottom: 18px;
}
@media (max-width: 650px) {
  .menu-footer__contact li {
    margin-bottom: 14px;
  }
}
.menu-footer__contact img {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.profile-menu {
  width: 100%;
}
.profile-menu__list {
  width: 100%;
}
.profile-menu__item {
  font-family: Effra;
  font-size: 22px;
  font-weight: 400;
}
.profile-menu__item:not(:last-child) {
  margin-bottom: 48px;
}
.profile-menu__item .item__sign-out {
  color: #D32D2C;
}
.profile-menu__item:first-child {
  margin-top: 13px;
}
.profile-menu__item:hover {
  font-weight: 700;
}

.item__sign-out {
  color: #D32D2C;
  cursor: pointer;
}

.form {
  width: 100%;
  height: 100%;
}
.form__fieldset {
  max-width: 674px;
  width: 100%;
  height: 336px;
  margin-bottom: 40px;
  display: grid;
  grid-template: 53px 105px 9px 40px 105px auto/1fr;
}
@media (max-width: 650px) {
  .form__fieldset {
    height: auto;
    margin-bottom: 20px;
    grid-template: min-content/repeat(2, 1fr);
    gap: 5px 17px;
  }
}
@media (max-width: 425px) {
  .form__fieldset {
    margin-bottom: 14px;
  }
}
.form__background {
  width: 100%;
  height: 100%;
  grid-row: 1/7;
  grid-column: 1/2;
}
@media (max-width: 650px) {
  .form__background {
    display: none;
  }
}
.form__background img {
  width: 100%;
  height: 100%;
}
.form__input-wrapper {
  margin: 0 40px;
}
@media (max-width: 650px) {
  .form__input-wrapper {
    margin: 0;
  }
}
.form__input-wrapper label {
  display: block;
  margin-bottom: 10px;
  opacity: 0.5;
}
@media (max-width: 650px) {
  .form__input-wrapper label {
    margin-bottom: 9px;
  }
}
.form__input-wrapper input {
  width: 100%;
  height: 56px;
  margin-bottom: 4px;
  border-radius: 12px;
  padding: 0 24px;
  background: #FFF;
  font-size: 18px;
  color: #000;
}
@media (max-width: 650px) {
  .form__input-wrapper input {
    background: #FAF8F6;
  }
}
.form__input-wrapper .error {
  height: 17px;
  color: #FF7D4E;
  font-size: 12px;
}
.form__input-wrapper:nth-child(2) {
  max-width: 410px;
  width: 60.83%;
  grid-row: 2/3;
  grid-column: 1/2;
}
@media (max-width: 650px) {
  .form__input-wrapper:nth-child(2) {
    max-width: 100%;
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/3;
  }
}
.form__input-wrapper:nth-child(3) {
  max-width: 104px;
  width: 100%;
  grid-row: 4/6;
  grid-column: 1/2;
}
@media (max-width: 650px) {
  .form__input-wrapper:nth-child(3) {
    max-width: 100%;
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
.form__input-wrapper:nth-child(4) {
  max-width: 104px;
  width: 100%;
  grid-row: 5/6;
  grid-column: 1/2;
  justify-self: flex-end;
}
@media (max-width: 650px) {
  .form__input-wrapper:nth-child(4) {
    max-width: 100%;
    grid-row: 2/3;
    grid-column: 2/3;
  }
}
.form__submit {
  width: 154px;
  height: 50px;
  font-size: 1.1429rem;
  text-align: center;
  font-family: Effra;
  font-weight: 700;
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 25px;
  background: var(--main-orange);
  color: #FFF;
}
@media (max-width: 425px) {
  .form__submit {
    width: 100%;
    height: 50px;
  }
}
.form__submit:hover {
  box-shadow: -2px 2px rgba(0, 0, 0, 0.2), -5px 5px 5px var(--main-orange);
  transform: translateY(-2px) translateX(2px);
}
@media (max-width: 650px) {
  .form__submit {
    font-size: 16px;
  }
}
.form .no-active-button {
  background: #C3BDB6;
}
.form .no-active-button:hover {
  box-shadow: none;
  transform: translateY(0) translateX(0);
}

.input-error {
  border: 1px solid #FF7D4E;
}