@charset "UTF-8";
/*Обнулення*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Bold.woff2") format("woff2"), url("../fonts/Effra-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Medium.woff2") format("woff2"), url("../fonts/Effra-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Regular.woff2") format("woff2"), url("../fonts/Effra-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@keyframes shake {
  0%, 25% {
    transform: translateX(0);
  }
  10%, 20% {
    transform: translateX(-1px);
  }
  15% {
    transform: translateX(1px);
  }
}
:root {
  --bp-xxs: 375px;
  --bp-xs: 480px;
  --bp-s: 650px;
  --bp-sm: 768px;
  --bp-md: 1024px;
  --bp-lg: 1440px;
  --bp-l: 1650px;
  --bp-xl: 1920px;
  --main-orange: #FF7D4E;
  --main-purple: #8172DD;
  --btn-purple: #6E5DDC;
  --goods-purple: #9C91E0;
  --goods-mint: #94D6BE;
  --goods-pink: #DA91E0;
  --goods-blue: #91CAF2;
  --goods-orange: #F2B385;
  --goods-green: #A5B3FF;
  --goods-red: #E8939D;
  --goods-blue-text: #5F9DCA;
  --pdng-conteiner: 92px;
  --pdt-section: 150px;
  --width-smaller-container: 1044px;
  --pdng-text-conteiner: 120px;
}
@media (max-width: 1440px) {
  :root {
    --pdng-conteiner: 64px;
  }
}
@media (max-width: 1024px) {
  :root {
    --pdng-conteiner: 56px;
  }
}
@media (max-width: 768px) {
  :root {
    --pdng-conteiner: 48px;
  }
}
@media (max-width: 425px) {
  :root {
    --pdng-conteiner: 20px;
  }
}
@media (max-width: 768px) {
  :root {
    --pdt-section: 100px;
  }
}
@media (max-width: 425px) {
  :root {
    --pdt-section: 60px;
  }
}
@media screen and (max-width: 1440px) {
  :root {
    --width-smaller-container: 72.64%;
  }
}
@media screen and (max-width: 1024px) {
  :root {
    --width-smaller-container: 68.95%;
  }
}
@media screen and (max-width: 768px) {
  :root {
    --width-smaller-container: 67.71%;
  }
}
@media screen and (max-width: 600px) {
  :root {
    --width-smaller-container: 100%;
  }
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  display: flex;
  flex-direction: column;
}

._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1580px;
  padding-left: 92px;
  padding-right: 92px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  [class*=__container] {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media (max-width: 1024px) {
  [class*=__container] {
    padding-left: 56px;
    padding-right: 56px;
  }
}
@media (max-width: 768px) {
  [class*=__container] {
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media (max-width: 425px) {
  [class*=__container] {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: Effra;
  font-size: 56px;
  font-weight: 500;
  line-height: 121%;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}
@media (max-width: 425px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  font-family: Effra;
  font-size: 50px;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 1024px) {
  h2 {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 40px;
    line-height: 42px;
  }
}
@media (max-width: 425px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-family: Effra;
  font-size: 40px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  h3 {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  h3 {
    font-size: 30px;
  }
}
@media (max-width: 425px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-family: Effra;
  font-size: 36px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  h4 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  h4 {
    font-size: 28px;
  }
}
@media (max-width: 425px) {
  h4 {
    font-size: 24px;
  }
}

h5 {
  font-family: Effra;
  font-size: 30px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  h5 {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  h5 {
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  h5 {
    font-size: 14px;
  }
}

h6 {
  font-family: Effra;
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
}

.subtitle-20 {
  font-size: 1.4286rem;
  line-height: 163.418%;
  /* 32.684px */
  color: #808080;
}
@media (max-width: 1024px) {
  .subtitle-20 {
    font-size: 1.2857rem;
  }
}
@media (max-width: 768px) {
  .subtitle-20 {
    font-size: 1.1429rem;
  }
}
@media (max-width: 425px) {
  .subtitle-20 {
    font-size: 1rem;
    line-height: normal;
  }
}

.subtitle-h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0.01em;
}
@media (max-width: 1024px) {
  .subtitle-h2 {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .subtitle-h2 {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .subtitle-h2 {
    font-size: 12px;
  }
}

.monts15 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.p16 {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.01em;
}
@media (max-width: 768px) {
  .p16 {
    font-size: 14px;
  }
}

.p14 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

body {
  background: linear-gradient(to right, #8172DD 50%, #FAF8F6 50%);
}
@media (max-width: 768px) {
  body {
    background: #FAF8F6;
  }
}

main {
  max-width: 1920px;
  width: 100%;
  flex: 1 1 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 110px;
  height: 110px;
  width: 100%;
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 650px) {
  .header {
    min-height: 70px;
    height: 70px;
    padding: 0 20px;
  }
}
.header__logo-box {
  width: 42px;
  height: 50px;
  display: block;
}
.header__logo-box img {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .header__logo-box {
    width: 33.6px;
    height: 40px;
  }
}
@media (max-width: 768px) {
  .header__white-logo {
    display: none;
  }
}
.header__logo {
  display: none;
}
@media (max-width: 768px) {
  .header__logo {
    display: block;
  }
}
.header__page-number {
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 1024px) {
  .header__page-number {
    font-size: 27px;
  }
}
@media (max-width: 768px) {
  .header__page-number {
    font-size: 24px;
  }
}
@media (max-width: 425px) {
  .header__page-number {
    font-size: 20px;
  }
}

.quiz {
  display: flex;
  justify-content: center;
}
.quiz__block {
  height: 100%;
  width: 100%;
  padding: 110px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 768px) {
  .quiz__block {
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.quiz__title-block {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .quiz__title-block {
    padding-bottom: 15px;
    align-items: flex-end;
    font-size: 40px;
    color: #000;
    text-align: center;
  }
}
.quiz__title {
  max-width: 496px;
  width: 100%;
  color: #FFF;
  font-family: Effra;
  font-size: 64px;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 1024px) {
  .quiz__title {
    font-size: 52px;
  }
}
@media (max-width: 768px) {
  .quiz__title {
    font-size: 40px;
    color: #000;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .quiz__title {
    font-size: 24px;
  }
}
.quiz__form-block {
  width: 100%;
}
@media (max-width: 768px) {
  .quiz__form-block {
    padding-top: 15px;
  }
}
.quiz__form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .quiz__form {
    align-items: flex-start;
  }
}
.quiz__buttons-box {
  max-width: 536px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.quiz__button-link {
  display: block;
}
.quiz__button-link:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .quiz__button-link:not(:last-child) {
    margin-bottom: 10px;
  }
}
.quiz__button {
  width: 100%;
  min-height: 105px;
  padding: 30px 40px;
  border: 2px solid #FFF;
  border-radius: 16px;
  text-align: left;
  background: #FFF;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
.quiz__button:hover {
  border: 2px solid #8172DD;
}
@media (max-width: 768px) {
  .quiz__button {
    padding: 19px 20px;
    text-align: center;
    font-size: 16px;
  }
}
.quiz__arc-box {
  position: absolute;
  bottom: -110px;
  left: 90px;
  min-width: 160px;
  min-height: 160px;
  z-index: -1;
}
@media (max-width: 768px) {
  .quiz__arc-box {
    display: none;
  }
}
.quiz__arc-box img {
  width: 100%;
  height: 100%;
}
.quiz__circle-box {
  position: absolute;
  top: -4px;
  right: 134px;
  width: 155px;
  height: 155px;
  z-index: -1;
}
@media (max-width: 768px) {
  .quiz__circle-box {
    display: none;
  }
}
.quiz__circle-box img {
  width: 100%;
  height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 102px;
  display: grid;
  grid-template-rows: repeat(2, 52px);
}
@media (max-width: 768px) {
  .footer {
    height: 82px;
    grid-template-rows: repeat(2, 42px);
  }
}
@media (max-width: 768px) {
  .footer__gradient {
    background: linear-gradient(180deg, rgba(250, 248, 246, 0) 0%, #FAF8F6 100%);
  }
}
@media (max-width: 768px) {
  .footer__content {
    background: #FAF8F6;
  }
}
.footer__back {
  margin-left: 35px;
  display: flex;
  align-items: center;
}
.footer__back svg {
  display: block;
  margin-right: 15px;
}
@media (max-width: 768px) {
  .footer__back svg path {
    fill: #8172DD;
  }
}
.footer span {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 768px) {
  .footer span {
    color: #000;
  }
}