@charset "UTF-8";

/*Обнулення*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Bold.woff2") format("woff2"), url("../fonts/Effra-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Medium.woff2") format("woff2"), url("../fonts/Effra-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Regular.woff2") format("woff2"), url("../fonts/Effra-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@-webkit-keyframes shake {
  0%, 25% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%, 20% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }

  15% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
}

@keyframes shake {
  0%, 25% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%, 20% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }

  15% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
}

:root {
  --bp-xxs: 375px;
  --bp-xs: 480px;
  --bp-s: 650px;
  --bp-sm: 768px;
  --bp-md: 1024px;
  --bp-lg: 1440px;
  --bp-l: 1650px;
  --bp-xl: 1920px;
  --main-orange: #FF7D4E;
  --main-purple: #8172DD;
  --btn-purple: #6E5DDC;
  --goods-purple: #9C91E0;
  --goods-mint: #94D6BE;
  --goods-pink: #DA91E0;
  --goods-blue: #91CAF2;
  --goods-orange: #F2B385;
  --goods-green: #A5B3FF;
  --goods-red: #E8939D;
  --goods-blue-text: #5F9DCA;
  --pdng-conteiner: 92px;
  --pdt-section: 150px;
  --width-smaller-container: 1044px;
  --pdng-text-conteiner: 120px;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1580px;
  padding-left: 92px;
  padding-right: 92px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-family: Effra;
  font-size: 56px;
  font-weight: 500;
  line-height: 121%;
}

h2 {
  font-family: Effra;
  font-size: 50px;
  font-weight: 500;
  line-height: normal;
}

h3 {
  font-family: Effra;
  font-size: 40px;
  font-weight: 500;
}

h4 {
  font-family: Effra;
  font-size: 36px;
  font-weight: 500;
}

h5 {
  font-family: Effra;
  font-size: 30px;
  font-weight: 500;
}

h6 {
  font-family: Effra;
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
}

.subtitle-20 {
  font-size: 1.4286rem;
  line-height: 163.418%;
  /* 32.684px */
  color: #808080;
}

.subtitle-h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0.01em;
}

.monts15 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.p16 {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.01em;
}

.p14 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

body {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #8172DD), color-stop(50%, #FAF8F6));
  background: linear-gradient(to right, #8172DD 50%, #FAF8F6 50%);
}

main {
  max-width: 1920px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 110px;
  height: 110px;
  width: 100%;
  padding: 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-box {
  width: 42px;
  height: 50px;
  display: block;
}

.header__logo-box img {
  width: 100%;
  height: 100%;
}

.header__logo {
  display: none;
}

.header__page-number {
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
}

.quiz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quiz__block {
  height: 100%;
  width: 100%;
  padding: 110px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.quiz__title-block {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quiz__title {
  max-width: 496px;
  width: 100%;
  color: #FFF;
  font-family: Effra;
  font-size: 64px;
  font-weight: 500;
  line-height: normal;
}

.quiz__form-block {
  width: 100%;
  height: 100%;
}

.quiz__form {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quiz__input-box {
  max-width: 536px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.quiz__input-box label {
  display: block;
  margin-bottom: 15px;
  color: #000;
  font-size: 18px;
  line-height: normal;
  opacity: 0.5;
}

.quiz__input-wrapper {
  width: 100%;
  height: 105px;
  position: relative;
}

.quiz__input-wrapper input {
  width: 100%;
  height: 100%;
  padding: 0 100px 0 40px;
  border-radius: 16px;
  background: #FFF;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.quiz__input-wrapper input:focus {
  border: 2px solid #8172DD;
}

.quiz__input-wrapper input.error {
  border: 2px solid #FF7D4E;
}

.quiz__btn {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 69px;
  height: 69px;
  background: #DDDDDD;
  border-radius: 50%;
}

.quiz__btn--active {
  background: #FF7D4E;
}

.quiz__btn svg {
  width: 9px;
  height: 14.879px;
}

.quiz__input-error {
  height: 12px;
  margin-top: 3px;
  font-size: 10px;
  line-height: 10px;
  color: #FF7D4E;
}

.quiz__arc-box {
  position: absolute;
  bottom: -110px;
  right: 10px;
  min-width: 405px;
  min-height: 307px;
  z-index: -1;
}

.quiz__arc-box img:first-child {
  position: absolute;
  top: 0;
  right: 0;
}

.quiz__arc-box img:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
}

.quiz__circle-box {
  position: absolute;
  top: 6px;
  left: 46px;
  width: 156px;
  height: 156px;
  z-index: -1;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 102px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (52px)[2];
  grid-template-rows: repeat(2, 52px);
}

.footer__back {
  margin-left: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__back svg {
  display: block;
  margin-right: 15px;
}

.footer span {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 1440px) {
  :root {
    --pdng-conteiner: 64px;
  }

  [class*=__container] {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media screen and (max-width: 1440px) {
  :root {
    --width-smaller-container: 72.64%;
  }
}

@media (max-width: 1024px) {
  :root {
    --pdng-conteiner: 56px;
  }

  [class*=__container] {
    padding-left: 56px;
    padding-right: 56px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 32px;
  }

  h5 {
    font-size: 25px;
  }

  .subtitle-20 {
    font-size: 1.2857rem;
  }

  .subtitle-h2 {
    font-size: 16px;
  }

  .header__page-number {
    font-size: 27px;
  }

  .quiz__title {
    font-size: 52px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --width-smaller-container: 68.95%;
  }
}

@media (max-width: 768px) {
  :root {
    --pdng-conteiner: 48px;
  }

  :root {
    --pdt-section: 100px;
  }

  [class*=__container] {
    padding-left: 48px;
    padding-right: 48px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 40px;
    line-height: 42px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  .subtitle-20 {
    font-size: 1.1429rem;
  }

  .subtitle-h2 {
    font-size: 14px;
  }

  .p16 {
    font-size: 14px;
  }

  body {
    background: #FAF8F6;
  }

  .header__logo-box {
    width: 33.6px;
    height: 40px;
  }

  .header__white-logo {
    display: none;
  }

  .header__logo {
    display: block;
  }

  .header__page-number {
    font-size: 24px;
  }

  .quiz__block {
    padding: 90px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .quiz__title-block {
    padding-bottom: 15px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 40px;
    color: #000;
    text-align: center;
  }

  .quiz__title {
    font-size: 40px;
    color: #000;
    text-align: center;
  }

  .quiz__form-block {
    padding: 15px;
  }

  .quiz__form {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .quiz__input-box label {
    display: none;
  }

  .quiz__input-wrapper input {
    height: 56px;
    border-radius: 10px;
  }

  .quiz__btn {
    top: 12px;
    right: 12px;
    width: 32px;
    height: 32px;
  }

  .quiz__arc-box {
    display: none;
  }

  .quiz__circle-box {
    display: none;
  }

  .footer {
    height: 82px;
    -ms-grid-rows: (42px)[2];
    grid-template-rows: repeat(2, 42px);
  }

  .footer__gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 248, 246, 0)), to(#FAF8F6));
    background: linear-gradient(180deg, rgba(250, 248, 246, 0) 0%, #FAF8F6 100%);
  }

  .footer__content {
    background: #FAF8F6;
  }

  .footer__back svg path {
    fill: #8172DD;
  }

  .footer span {
    color: #000;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --width-smaller-container: 67.71%;
  }
}

@media (max-width: 650px) {
  .header {
    min-height: 70px;
    height: 70px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --width-smaller-container: 100%;
  }
}

@media (max-width: 425px) {
  :root {
    --pdng-conteiner: 20px;
  }

  :root {
    --pdt-section: 60px;
  }

  [class*=__container] {
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 14px;
  }

  .subtitle-20 {
    font-size: 1rem;
    line-height: normal;
  }

  .subtitle-h2 {
    font-size: 12px;
  }

  .header__page-number {
    font-size: 20px;
  }

  .quiz__title {
    font-size: 24px;
  }
}