@charset "UTF-8";

/*Обнулення*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Bold.woff2") format("woff2"), url("../fonts/Effra-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Medium.woff2") format("woff2"), url("../fonts/Effra-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Regular.woff2") format("woff2"), url("../fonts/Effra-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@-webkit-keyframes shake {
  0%, 25% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%, 20% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }

  15% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
}

@keyframes shake {
  0%, 25% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%, 20% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }

  15% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
}

:root {
  --bp-xxs: 375px;
  --bp-xs: 480px;
  --bp-s: 650px;
  --bp-sm: 768px;
  --bp-md: 1024px;
  --bp-lg: 1440px;
  --bp-l: 1650px;
  --bp-xl: 1920px;
  --main-orange: #FF7D4E;
  --main-purple: #8172DD;
  --btn-purple: #6E5DDC;
  --goods-purple: #9C91E0;
  --goods-mint: #94D6BE;
  --goods-pink: #DA91E0;
  --goods-blue: #91CAF2;
  --goods-orange: #F2B385;
  --goods-green: #A5B3FF;
  --goods-red: #E8939D;
  --goods-blue-text: #5F9DCA;
  --pdng-conteiner: 92px;
  --pdt-section: 150px;
  --width-smaller-container: 1044px;
  --pdng-text-conteiner: 120px;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1580px;
  padding-left: 92px;
  padding-right: 92px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-family: Effra;
  font-size: 56px;
  font-weight: 500;
  line-height: 121%;
}

h2 {
  font-family: Effra;
  font-size: 50px;
  font-weight: 500;
  line-height: normal;
}

h3 {
  font-family: Effra;
  font-size: 40px;
  font-weight: 500;
}

h4 {
  font-family: Effra;
  font-size: 36px;
  font-weight: 500;
}

h5 {
  font-family: Effra;
  font-size: 30px;
  font-weight: 500;
}

h6 {
  font-family: Effra;
  font-size: 26px;
  font-weight: 500;
}

.subtitle-20 {
  font-size: 1.4286rem;
  line-height: 163.418%;
  /* 32.684px */
  color: #808080;
}

.subtitle-h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0.01em;
}

.monts15 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.p16 {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.01em;
}

.p14 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

body {
  background: #FAF8F6;
}

main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.sign-up {
  background: #FAF8F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-up__box {
  max-width: 920px;
  width: 100%;
  margin: 0 30px;
  padding: 60px 20px 0px;
  background: #fff;
}

.sign-up__content {
  max-width: 682px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 0px 63px;
}

.sign-up__tabs {
  width: 100%;
  margin-bottom: 62px;
}

.sign-up__title {
  width: 100%;
  margin-bottom: 42px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr -webkit-max-content 1fr;
  -ms-grid-columns: 1fr max-content 1fr;
  grid-template-columns: 1fr -webkit-max-content 1fr;
  grid-template-columns: 1fr max-content 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.sign-up__title span {
  width: 100%;
  border: 1px solid #F2F2F2;
}

.sign-up__social-block {
  width: 100%;
  margin-bottom: 43px;
}

.sign-up__subtitle {
  width: 100%;
  margin-bottom: 43px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr -webkit-max-content 1fr;
  -ms-grid-columns: 1fr max-content 1fr;
  grid-template-columns: 1fr -webkit-max-content 1fr;
  grid-template-columns: 1fr max-content 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: Effra;
  font-size: 20px;
  font-weight: 500;
}

.sign-up__subtitle span {
  width: 100%;
  border: 1px solid #F2F2F2;
}

.sign-up form {
  max-width: 444px;
  width: 100%;
  margin: 0 auto;
}

.sign-up form > input {
  margin-bottom: 15px;
  display: block;
  width: 100%;
  height: 56px;
  padding: 0 24px;
  border-radius: 12px;
  background: #FAF8F6;
  font-size: 18px;
}

.sign-up form > input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.sign-up form > input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.sign-up form > input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.sign-up form > input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.sign-up form > input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.sign-up form .error {
  margin-top: -15px;
  padding: 9px 0px 7px;
  font-size: 12px;
  color: red;
}

.sign-up form .input-error {
  border: 1px solid red;
}

.sign-up__submit {
  width: 100%;
  height: 65px;
  font-size: 1.4286rem;
  text-align: center;
  font-family: Effra;
  font-weight: 700;
  -webkit-transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s, -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  border-radius: 32.5px;
  background: var(--main-orange);
  color: #FFF;
  margin-top: 5px;
}

.sign-up__submit:hover {
  -webkit-box-shadow: -2px 2px rgba(0, 0, 0, 0.2), -5px 5px 5px var(--main-orange);
          box-shadow: -2px 2px rgba(0, 0, 0, 0.2), -5px 5px 5px var(--main-orange);
  -webkit-transform: translateY(-2px) translateX(2px);
      -ms-transform: translateY(-2px) translateX(2px);
          transform: translateY(-2px) translateX(2px);
}

.sign-up .no-active-button {
  background: #C3BDB6;
}

.sign-up .no-active-button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(0) translateX(0);
      -ms-transform: translateY(0) translateX(0);
          transform: translateY(0) translateX(0);
}

.header {
  width: 100%;
  padding: 30px 0;
}

.header__logo {
  width: 42px;
  height: 50px;
  margin: 0 auto;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.header__logo img:hover {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.footer {
  width: 100%;
  padding: 40px 0;
}

.footer__no-account {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link {
  color: var(--main-orange) !important;
}

.footer__link:hover {
  text-decoration: underline;
}

.tabs {
  width: 100%;
  padding: 13px 12px 12px;
  border: 1px solid #E6E6E6;
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.tabs__tab {
  width: 100%;
  height: auto;
  font-size: 1.4286rem;
  text-align: center;
  font-family: Effra;
  font-weight: 700;
  -webkit-transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s, -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  border-radius: 12px;
  background: inherit;
  color: #000;
  padding: 20px 49px;
}

.tabs__tab:hover {
  -webkit-box-shadow: -2px 2px rgba(0, 0, 0, 0.2), -5px 5px 5px inherit;
          box-shadow: -2px 2px rgba(0, 0, 0, 0.2), -5px 5px 5px inherit;
  -webkit-transform: translateY(-2px) translateX(2px);
      -ms-transform: translateY(-2px) translateX(2px);
          transform: translateY(-2px) translateX(2px);
}

.tabs__tab:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(0) translateX(0);
      -ms-transform: translateY(0) translateX(0);
          transform: translateY(0) translateX(0);
}

.tabs .active-tab {
  background: var(--main-orange);
  color: #fff;
}

.socials {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 32px;
}

.socials__social {
  width: 100%;
  height: 65px;
  padding: 0 16px;
  background: #FAF8F6;
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__social-icon {
  width: 32px;
  height: 32px;
}

.socials__social-icon img {
  width: 100%;
}

.socials__social-name {
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  font-family: Effra;
  font-size: 20px;
  font-weight: 500;
}

.socials__ampty {
  display: none;
}

.add-file {
  width: 100%;
  display: none;
}

.add-file__content {
  width: 100%;
  height: 56px;
  margin-bottom: 10px;
  padding: 0 10px 0 24px;
  border-radius: 12px;
  background: #FAF8F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.add-file__info {
  margin-right: 15px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  overflow: hidden;
  line-height: normal;
}

.add-file label {
  width: 104px;
  height: 36px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  margin-bottom: 4px;
  background: #FF7D4E;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
}

.add-file input {
  opacity: 0;
  width: 0 !important;
  height: 0 !important;
}

.error span {
  color: rgba(0, 0, 0, 0.3);
  font-size: 13px;
}

.active {
  display: block;
}

@media (min-width: 651px) {
  .add-file__info span:last-child {
    display: none;
  }

  .error span {
    display: none;
  }
}

@media (max-width: 1440px) {
  :root {
    --pdng-conteiner: 64px;
  }

  [class*=__container] {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media screen and (max-width: 1440px) {
  :root {
    --width-smaller-container: 72.64%;
  }
}

@media (max-width: 1024px) {
  :root {
    --pdng-conteiner: 56px;
  }

  [class*=__container] {
    padding-left: 56px;
    padding-right: 56px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 45px;
  }

  h4 {
    font-size: 32px;
  }

  h5 {
    font-size: 25px;
  }

  .subtitle-20 {
    font-size: 1.2857rem;
  }

  .subtitle-h2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --width-smaller-container: 68.95%;
  }
}

@media (max-width: 768px) {
  :root {
    --pdng-conteiner: 48px;
  }

  :root {
    --pdt-section: 100px;
  }

  [class*=__container] {
    padding-left: 48px;
    padding-right: 48px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 40px;
    line-height: 42px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  .subtitle-20 {
    font-size: 1.1429rem;
  }

  .subtitle-h2 {
    font-size: 14px;
  }

  .p16 {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --width-smaller-container: 67.71%;
  }
}

@media (max-width: 650px) {
  body {
    background: #fff;
  }

  .sign-up__box {
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    padding: 50px 20px 0px;
  }

  .sign-up__content {
    border-bottom: 1px solid #F2F2F2;
    padding: 0px 0px 40px;
  }

  .sign-up__tabs {
    margin-bottom: 42px;
  }

  .sign-up__title {
    margin-bottom: 32px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    font-size: 24px;
  }

  .sign-up__title span {
    display: none;
  }

  .sign-up__social-block {
    margin-bottom: 42px;
  }

  .sign-up__subtitle {
    margin-bottom: 40px;
    font-size: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .sign-up__subtitle span {
    display: none;
  }

  .sign-up form > input {
    margin-bottom: 10px;
  }

  .sign-up__submit {
    margin-top: 10px;
    font-size: 16px;
  }

  .footer {
    padding: 44px 0;
  }

  .footer__no-account {
    font-size: 14px;
  }

  .tabs {
    padding: 9px;
  }

  .tabs__tab {
    padding: 14.5px 16px;
    font-size: 16px;
  }

  .socials {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .socials__social {
    height: 56px;
    -ms-grid-columns: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
  }

  .socials__social-name {
    font-size: 16px;
  }

  .socials__ampty {
    width: 32px;
    height: 32px;
    display: block;
  }

  .add-file {
    margin-bottom: 4px;
  }

  .add-file__content {
    margin: 0 0 15px 0;
  }

  .add-file__info span:first-child {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --width-smaller-container: 100%;
  }
}

@media (max-width: 425px) {
  :root {
    --pdng-conteiner: 20px;
  }

  :root {
    --pdt-section: 60px;
  }

  [class*=__container] {
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 24px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 14px;
  }

  .subtitle-20 {
    font-size: 1rem;
  }

  .subtitle-h2 {
    font-size: 12px;
  }

  .sign-up__submit {
    width: 100%;
    height: 56px;
  }

  .header {
    padding: 15px 0;
  }

  .header__logo {
    width: 33.6px;
    height: 40px;
  }

  .tabs__tab {
    width: 100%;
    height: 100%;
  }
}