<div class="autoship">
  <div class="autoship__select-block autoship__select-block--not-active">
    <div class="autoship__start-label">Autoship this item every</div>
    <div class="autoship__start-label-small">Deliver every</div>
    <div class="autoship__select-box">
      <div class="autoship__select-header">
        <div class="autoship__select-header-text">30</div>
        <img class="autoship__select-arrow" src="@img/product-card/Back_arrow.svg" alt="Back arrow" />
      </div>
      <ul class="autoship__select-list autoship__select-list--not-show">
        <li class="autoship__select-item autoship__select-item--active">30</li>
        <li class="autoship__select-item">45</li>
        <li class="autoship__select-item">60</li>
        <li class="autoship__select-item">90</li>
      </ul>
    </div>
    <div class="autoship__finish-label">days</div>
  </div>
  <div class="autoship__checkbox">
    <label for="autoship" class="autoship__checkbox-label">
      <input type="checkbox" name="autoship" id="autoship" class="autoship__checkbox-input" />
      <div class="autoship__castom-checkbox autoship__castom-checkbox--hecked">
        <div class="autoship__check-mark">
          <img src="@img/product-card/check-mark.svg" alt="Chack mark" />
        </div>
      </div>
    </label>
  </div>
</div>
