<div class="swiper-reviews swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">@@include('./review-components.html',{"title":"Easy monitoring your weight goal!", "subtitle":"Love Vitamins! The individual packets make it so easy to remember you daily vitamins and makes travelling easy!!! 👍🏽", "avatar":"@img/reviews/avatar1.png", "avatar-name":"David S."})</div>
    <div class="swiper-slide">@@include('./review-components.html',{"title":"High quality vitamins & supplements", "subtitle":"High quality vitamins & supplements, very easy on my stomach too. Great service! I really like the flexibility and options available in the subscriptions.", "avatar":"@img/reviews/avatar2.png", "avatar-name":"Bridget T."})</div>
    <div class="swiper-slide">@@include('./review-components.html',{"title":"I love it", "subtitle":"I love it. It makes me feel good each morning and then it also makes me feel accomplished. ", "avatar":"@img/reviews/avatar3.png", "avatar-name":"Jenna Y."})</div>
    <div class="swiper-slide">@@include('./review-components.html',{"title":"Easy monitoring your weight goal!", "subtitle":"Love Vitamins! The individual packets make it so easy to remember you daily vitamins and makes travelling easy!!! 👍🏽", "avatar":"@img/reviews/avatar1.png", "avatar-name":"David S."})</div>
  </div>
</div>
