<div class="review">
  <div class="review__box">
    <div class="review__stars-box">
      <img src="@img/reviews/Stars.svg" alt="Stars" />
    </div>
    <div class="review__text">
      <div class="review__title">@@title</div>
      <div class="review__subtitle">@@subtitle</div>
    </div>
    <div class="review__avatar-block">
      <div class="review__avatar-box">
        <img src="@@avatar" alt="Avatar" />
      </div>
      <div class="review__avatar-name">@@avatar-name</div>
    </div>
  </div>
</div>
