<div class="socials">
  <a href="https://www.google.com" class="socials__social">
    <div class="socials__social-icon">
      <img src="@img/registration/Google_logo.svg" alt="Google logotype" />
    </div>
    <div class="socials__social-name">Google</div>
    <div class="socials__ampty"></div>
  </a>
  <a href="https://www.apple.com/" class="socials__social">
    <div class="socials__social-icon">
      <img src="@img/registration/Apple_logo.svg" alt="Google logotype" />
    </div>
    <div class="socials__social-name">Apple</div>
    <div class="socials__ampty"></div>
  </a>
  <a href="https://www.facebook.com/" class="socials__social">
    <div class="socials__social-icon">
      <img src="@img/registration/Facebook_logo.svg" alt="Google logotype" />
    </div>
    <div class="socials__social-name">Facebook</div>
    <div class="socials__ampty"></div>
  </a>
</div>
