<section class="choose-products">
  @@include('./tell-about-yourself.html',{})
  <!--  -->
  <div class="choose-products__second-block">
    <div class="choose-products__swiper-box">
      <div class="choose-products__swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">@@include('./swiper-slide.html', {"color":"#89D4A7","img":"@img/home-page/minerals-jar.png", "kind":"Minerals", "title":"Reacted Zinc"})</div>
          <div class="swiper-slide">@@include('./swiper-slide.html', {"color":"#9C91E0","img":"@img/home-page/vitamins-jar.png", "kind":"Vitamins & Dietary Supplements", "title":"Ortho B Complex"})</div>
          <div class="swiper-slide">@@include('./swiper-slide.html', {"color":"#89D4A7","img":"@img/home-page/minerals-jar.png", "kind":"Minerals", "title":"Reacted Zinc"})</div>
          <div class="swiper-slide">@@include('./swiper-slide.html', {"color":"#9C91E0","img":"@img/home-page/vitamins-jar.png", "kind":"Vitamins & Dietary Supplements", "title":"Ortho B Complex"})</div>
        </div>
      </div>
    </div>
    <div class="choose-products__title-block">
      <div class="choose-products__bg-title-block">
        <div class="choose-products__bg-title-wrapper">
          <img src="@img/home-page/full-orange-big-logo.svg" alt="full orange big logotype" />
        </div>
        <div class="choose-products__bg-logo">
          <div class="choose-products__bg-title-wrapper">
            <img src="@img/home-page/full-white-big-logo.svg" alt="full white big logotype" />
          </div>
        </div>
      </div>
      <div class="choose-products__title-block-content">
        <h1 class="choose-products__title">Choose your products</h1>
        <div class="choose-products__subtitle subtitle-20">We'll help you create a health plan with vitamins, supplements, and more that help you feel your best today and support you long-term.</div>
        <a href="catalogue.html" class="choose-products__shop-link">
          <p>Go to the shop</p>
          <img src="@img/home-page/arrow-right-white.svg" alt="right arrow" />
        </a>
      </div>
    </div>
  </div>
</section>
