<div class="ready-started">
  <div class="ready-started__bg">
    <div class="ready-started__orang-arc">
      <img src="@img/home-page/arc.svg" alt="Arc" />
    </div>
    <div class="ready-started__last-orang-arc">
      <img src="@img/home-page/last-orange-arc.svg" alt="Orange arc" />
    </div>
    <div class="ready-started__yellow-arc">
      <img src="@img/home-page/yellow-semicircle.svg" alt="Yellow semicircle" />
    </div>
    <div class="ready-started__last-yellow-arc">
      <img src="@img/home-page/yellow-arc.svg" alt="Yellow arc" />
    </div>
  </div>
  <div class="ready-started__content">
    <div class="ready-started__container">
      <div class="ready-started__icon-box">
        <img src="@img/home-page/hand-heards.svg" alt="hand-heards" />
      </div>
      <h1 class="ready-started__title">Ready to get started?</h1>
      <div class="ready-started__subtitle subtitle-20">We'll help you create a health plan with vitamins, supplements, and more that help you feel your best today and support you long-term.</div>
      <button class="ready-started__button" data-link="quiz.html">Take the quiz</button>
      <a href="catalogue.html" class="ready-started__shop-link">
        <p>Go to the shop</p>
        <img src="@img/home-page/arrow-right.svg" alt="right arrow" />
      </a>
    </div>
  </div>
</div>
