<section class="reviews-section">
  <div class="reviews-section__container">
    <div class="reviews-section__title-block">
      <div class="reviews-section__content">
        <div class="reviews-section__icon-box">
          <img src="@img/home-page/dialog-icon.svg" alt="Icon of reviews" />
        </div>
        <h1 class="reviews-section__title">What healthy and happy customer says</h1>
        <div class="reviews-section__subtitle subtitle-20">We'll help you create a health plan with vitamins, supplements, and more that help you feel your best today and support you long-term.</div>
      </div>
      <div class="reviews-section__img-block">
        <div class="reviews-section__img-box">
          <img src="@img/home-page/spoons.png" alt="Spoons with tablets" />
        </div>
      </div>
    </div>
    <div class="reviews-section__swiper-block">@@include('../common/reviews-swiper.html',{})</div>
  </div>
</section>
