<section class="second-section">
  <div class="second-section__title-block">
    <div class="second-section__bg-layer">
      <div class="second-section__bg-logo">
        <img src="@img/home-page/big-logo.svg" alt="big logotype" />
      </div>
      <img src="@img/home-page/little-yellow-circle.svg" alt="yellow circle" class="second-section__yellow-circle" />
    </div>
    <div class="second-section__content-layer">
      <h1 class="second-section__title">Healthy doesn&#8217;t have to be hard. We make it easy.</h1>
    </div>
  </div>
  <div class="second-section__list-block">
    <ul class="second-section__list">
      <li class="second-section__item">
        <div class="second-section__img-item">
          <img src="@img/home-page/fist-item.svg" alt="icon" />
        </div>
        <h5>Healthy doesn&#8217;t have to be hard. We make it easy.</h5>
      </li>
      <li class="second-section__item">
        <div class="second-section__img-item">
          <img src="@img/home-page/second-item.svg" alt="icon" />
        </div>
        <h5>Healthy doesn&#8217;t have to be hard. We make it easy.</h5>
      </li>
      <li class="second-section__item">
        <div class="second-section__img-item">
          <img src="@img/home-page/third-item.svg" alt="icon" />
        </div>
        <h5>Healthy doesn&#8217;t have to be hard. We make it easy.</h5>
      </li>
    </ul>
  </div>
  <div class="second-section__img-block">
    <div class="second-section__jars-box">
      <div class="second-section__wrapper-jars-box">
        <div class="second-section__first-jars">
          <img src="@img/home-page/first-jar.jpg" alt="jar" />
        </div>
        <div class="second-section__second-jars">
          <img src="@img/home-page/second-jar.jpg" alt="jar" />
        </div>
        <div class="second-section__third-jars">
          <img src="@img/home-page/third-jar.jpg" alt="jar" />
        </div>
      </div>
    </div>
    <div class="second-section__pills-box">
      <div class="second-section__wrapper-pills-box">
        <img src="@img/home-page/pills.jpg" alt="image of pils" />
      </div>
    </div>
  </div>
</section>
