<section class="tell-about-yourself">
  <div class="tell-about-yourself__container">
    <div class="tell-about-yourself__icon-title">
      <img src="@img/home-page/hand-and-heards.svg" alt="hand and heard" />
    </div>
    <h1 class="tell-about-yourself__title">Tell us a little about yourself. We&#8217;re good listeners.</h1>
    <div class="tell-about-yourself__subtitle subtitle-20">We'll help you create a health plan with vitamins, supplements, and more that help you feel your best today and support you long-term.</div>
    <button class="tell-about-yourself__button" data-link="quiz.html">Take the quiz</button>
  </div>
  <div class="tell-about-yourself__semicercle">
    <img src="@img/home-page/yellow-semicircle.svg" alt="yellow yellow-semicircle" />
  </div>
  <div class="tell-about-yourself__circle">
    <img src="@img/home-page/big-circle.svg" alt="Purple circle" />
  </div>
</section>
