<section class="title-section">
  <div class="title-section__container">
    <div class="title-section__content-box">
      <h1 class="title-section__title">Find out what <span>vitamins</span> your body needs right now.</h1>
      <div class="title-section__subtitle subtitle-20">Answer a few simple questions and automatically get a personalazed list of vitamins in minutes</div>
      <div class="title-section__links-block">
        <button class="title-section__button" data-link="quiz.html">Take the quiz</button>
        <a href="catalogue.html" class="title-section__shop-link">
          <p>Go to the shop</p>
          <img src="@img/home-page/arrow-right.svg" alt="right arrow" />
        </a>
      </div>
    </div>
    <div class="title-section__img-box">
      <div class="title-section__big-circle">
        <div>
          <img src="@img/home-page/big-circle.svg" alt="big purple circle" />
        </div>
      </div>
      <div class="title-section__jars">
        <div><img src="@img/home-page/jar.png" alt="jars" /></div>
      </div>
    </div>
  </div>
  <div class="title-section__bg-container">
    <div class="title-section__left-block"></div>
  </div>
  <div class="title-section__little-circle">
    <div>
      <img src="@img/home-page/little-yellow-circle.svg" alt="yellow circle" />
    </div>
  </div>
  <div class="title-section__yellow-arc">
    <img src="@img/home-page/yellow-arc.svg" alt="yellow arc" />
  </div>
  <div class="title-section__arc">
    <img src="@img/home-page/arc.svg" alt="arc" />
  </div>
</section>
