// Загальні стилі
@import "./components/global";

main {
   max-width: 1920px;
   width: 100%;
   flex: 1 1 auto;
}

.overview-page {

   &__container {
      width: 100%;
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 10.028653%;
   }

   &__menu {
      max-width: 217px;
      width: 100%;
      min-width: max-content;
   }
}


@import "./components/header";
@import "./components/footer";