// Загальні стилі
@import "./components/global";

main {
   max-width: 1920px;
   width: 100%;
   flex: 1 1 auto;
}

@import "../../node_modules/swiper/swiper.scss";

@import "./components/header";
@import "./components/footer";
@import "./components/home-page/title-section";
@import "./components/home-page/second-section";
@import "./components/home-page/tell-about-yourself";
@import "./components/home-page/swiper-slider";
@import "./components/home-page/choose-products";
@import "./components/home-page/reviews-section";
@import "./components/common/reviews-swiper";
@import "./components/common/review-components";
@import "./components/home-page/ready-started";